body{
    background-color: rgb(151, 151, 151);
}
.box {
	margin: 10px 0;
	min-height: 200px;
	font-size: 30px;
	background-color: red;
}
.lime{
    background-color: rgb(162, 231, 237);
}
.aqua{
    background-color: rgb(2, 2, 71);
}